TZ=Europe/Prague
ELECTRS_PORT=50001

# Stejné hodnoty jako bitcoin/bitcoind-knots/.env
BITCOIN_RPC_HOST=host.docker.internal
BITCOIN_RPC_PORT=8332
BITCOIN_RPC_USER=truenas
BITCOIN_RPC_PASSWORD=
BITCOIN_P2P_HOST=host.docker.internal
BITCOIN_P2P_PORT=8333
BITCOIN_DATA=/mnt/POOL/apps/bitcoind-knots
