TZ=Europe/Prague
MEMPOOL_HTTP_PORT=8080

BITCOIN_RPC_HOST=host.docker.internal
BITCOIN_RPC_PORT=8332
BITCOIN_RPC_USER=truenas
BITCOIN_RPC_PASSWORD=

ELECTRUM_HOST=host.docker.internal
ELECTRUM_PORT=50001

MEMPOOL_DB_PASSWORD=change-me
MEMPOOL_DB_ROOT_PASSWORD=change-me-root
